/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
#nb-colophon {
    background: #FFFFFF;
    border-top: 1px solid #C2C2C2;
    padding: 26px 30px 10px;
    @include font-size(14px);

    .footer-menu {
        width: 100%;
        height: auto;

        #menu-footer-main {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(flex-start);
            @include flex-wrap(wrap);

            li {
                padding-right: 24px;
            }
        }
    }

    .footer-icon {
        img {
            width: 100px;
            height: auto;
        }
    }

    .footer-copy {
        @include font-size(12px);
        padding-left: 17px;
        color: #999999;
    }
}

@include mediaSm {
    #nb-colophon {
        .footer-menu {
            #menu-footer-main {
                @include justify-content(center);
            }
        }
    }
}