/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
	color: $light-black;
	text-decoration: none;
	@include transition(all ease-in 0.4s);

	&:visited {
		color: $light-black;
	}

	&:hover {
		color: $dark-gold;
		text-decoration: none;
	}

	&:focus,
	&:hover,
	&:active {
		outline: 0;
		text-decoration: none;
	}
}