/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#nb-site-navigation,
#nb-site-navigation,
#woocommerce-site-navigation {
	@include flex-grow(1);
	@include flex-shrink(1);
	@include flex-basis(0);
}


#nb-site-navigation {
	padding: 0;
}

.nb-sticky #nb-site-navigation {
	padding: 0;
}

#woocommerce-site-navigation {
	ul {
		@include justify-content(flex-end);

		li {
			a {
				margin: 0 10px;
			}
		}
	}
}

.nb-main-navigation {
	ul {
		@include flexbox();
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: #444;
		text-transform: lowercase;
		@include font-size(16px);
		font-family: $text-font;
		font-weight: 400;
		line-height: 36px;
		margin-left: 32px;
		font-weight: 400;
		@include transition(all ease-out 0.3s);
	}

	ul ul {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		background: #FFF;
		min-width: 200px;
		z-index: 999;
		padding: 8px;
		margin-top: 27px;
		border-top: 2px solid $gold;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
	}
}

.nb-sticky .nb-main-navigation ul ul {
	margin-top: 17px;
}

.nb-main-navigation {
	.nb-menu>ul>li:last-child>ul {
		left: auto;
		right: 0;
	}

	ul ul ul {
		left: 100%;
		top: 0;
		margin: 0 0 0 8px;
		border-top: 0;
	}
}

.nb-sticky .nb-main-navigation ul ul ul {
	margin-top: 0;
}

.nb-main-navigation ul {
	ul {
		a {
			text-transform: none;
			font-weight: 400;
			color: #444;
			line-height: 1.5;
			padding: 10px 15px;
			font-size: 14px;
		}

		li {
			float: none;
			margin: 0 0 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	li:hover>ul {
		display: block;
	}
}

.page-template-home-template .nb-main-navigation {

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a {
		background: none;
		color: inherit;
	}
}

.home.blog .nb-main-navigation {

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a {
		background: none;
		color: inherit;
	}
}

.nb-main-navigation li:hover>a,
.page-template-home-template .nb-main-navigation li:hover>a,
.home.blog .nb-main-navigation li:hover>a {
	color: #e4764f;
}

.nb-main-navigation {

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a {
		color: #e4764f;
	}
}

.page-template-home-template .nb-main-navigation .current>a,
.home.blog .nb-main-navigation .current>a {
	color: #e4764f;
}

/* styling for both css and generated arrows */

.menu-item-has-children {
	.nb-dropdown {
		position: relative;
		right: -5px;

		&:after {
			content: '\f107';
			font-family: $header-font;
		}
	}

	ul .nb-dropdown {
		position: absolute;
		top: 50%;
		right: 5px;
		@include transform(translateY(-50px));

		&:after {
			content: '\f105';
		}
	}
}

/* styling for right-facing arrows */

.site-main {

	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		margin: 0 0 15px;
		overflow: hidden;
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.toggle-bar {
	display: none;
	cursor: pointer;

	span {
		display: block;
		width: 30px;
		height: 2px;
		background: #191919;

		&:nth-child(2) {
			margin-top: 8px;
		}

		&:nth-child(3) {
			margin-top: 8px;
		}
	}
}

.nav-active {
	@include transform(translateX(-100%) !important);
	ul {
		li {
			width: 100%;
			padding: 7%;
			border-top: 0.5px solid silver;

			&:last-child {
				border-bottom: 1px solid silver;
			}
		}

		@for $i from 1 to 7 {
			li:nth-child(#{$i}) {
				@include animation(slide-in-left $i * 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both);
			}
		}
	}
}