/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

html {
    font-family: $text-font;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;
}

#main {
    padding-top: 5%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
    margin: 0;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;

    &:active,
    &:hover {
        outline: 0;
    }
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: $gold;
    color: $black;
}

small {
    font-size: 80%;
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: $text-font;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
    text-transform: none;
}

select {
    text-transform: none;
}

button,
html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input {

    &[type="reset"],
    &[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    line-height: normal;

    &[type="checkbox"],
    &[type="radio"] {
        box-sizing: border-box;
        padding: 0;
        margin-right: 10px;
    }

    &[type="number"] {

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            height: auto;
        }
    }

    &[type="search"] {
        -webkit-appearance: textfield;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}

fieldset {
    margin: 0 2px;
    padding: 0.35em 0 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}