/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
input,
select,
textarea {
	color: $black;
	line-height: 1.6;
	font-family: $text-font;
	font-weight: 400;
}

button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce div.product form.cart .button,
.woocommerce #review_form #respond .form-submit input {
	display: inline-block;
	border: 2px solid $black;
	background: transparent;
	padding: 10px 24px;
	font-family: $text-font;
	font-weight: 700;
	@include font-size(14px);
	letter-spacing: 1px;
	color: $black;
	@include transition(all ease-in 0.3s);

	&:hover {
		background: $black;
		color: #FFFFFF;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.2;
	letter-spacing: 2px;
	font-weight: 600;
	color: $black;
	font-family: $header-font;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 28px;
}

p {
	line-height: 26px;
}

p, span {
	font-weight: 300;
}

strong {
	color: $black;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 15px;
}

address {
	margin: 0 0 15px;
}

pre {
	background: #eee;
	font-family: $text-font;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 15px;
	max-width: 100%;
	overflow: auto;
	padding: 15px;
}

.divider {
	height: 3px;
	width: 50px;
	margin: 5px 0px;
	background: $black;
}

code,
kbd,
tt,
var {
	font-family: $text-font;
	font-size: 15px;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: $gold;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.large-heading {
	@include font-size(48px);
}