/*****************************************
*
*  Woocommerce styling
*
*****************************************/

.woocommerce {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

/*****************************************
*
*  Shop page product elements styling
*
*****************************************/

.breadcrumb-trail,
.woocommerce .woocommerce-breadcrumb {
    text-align: center;
}

.woocommerce ul.products li.product .button.loading {
    opacity: 1;
}

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
    width: 20.75%;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    text-align: center;
}

.woocommerce a.added_to_cart {
    display: block;
}

.woocommerce ul.products li.product .button,
.woocommerce div.product form.cart .button {
    color: #FFFFFF;
    background: #444444;
    border: 1px solid #444444;
    @include font-size(14px);
    padding: 10px 20px;

    &:hover {
        background: darken(#444444, 5);
        border: 1px solid darken(#444444, 5);
    }
}


.woocommerce span.onsale {
    // background-color: #FFC107;
    background: #E07747;
    color: #FFFFFF;
    @include font-size(14px);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
    top: 0;
    left: 0;
    border-radius: 0;
    min-width: 0;
    min-height: 0;
    padding: 0 15px;
    margin: 10px 0 0 -6px;
}

.woocommerce span.onsale:after {
    border-color: transparent #E07747 #E07747 transparent;
    border-width: 2px;
    border-style: solid;
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0px;
}

.woocommerce ul.products li.product .onsale {
    margin: 10px -6px 0 0;
}

.woocommerce ul.products li.product .onsale:after {
    border-color: transparent transparent #E07747 #E07747;
    border-width: 3px;
    border-style: solid;
    right: 0px;
    left: auto;
}


/*****************************************
*
*  Single Product Page element styling
*
*****************************************/

.single-product-container {
    padding-top: 5px;
}

.woocommerce div.product div.summary {
    margin-top: 11%;
    padding: 5%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
    margin: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    display: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: 10px 0;
    font-weight: 400;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 0;
    background-color: #FFFFFF;
    border-radius: 0;
    margin: 0;
    padding: 0 20px;
    @include transition(all ease-out 0.3s);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: white;
    border-bottom: 1px solid #77A464;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #444 !important;
}

.woocommerce div.product .woocommerce-tabs .panel {
    background: white;
    padding: 50px;
}

/*****************************************
*
*  Cart page styling
*
*****************************************/

.cart-container {
    width: 100%;
    height: 100%;
    @include flexbox();
    @include justify-content(flex-start);
    @include flex-wrap(wrap);

    h2 {
        margin: 0;
        display: block;
        width: 100%;
        margin-left: 1%;
        margin-bottom: 24px;
    }

    .woocommerce-cart-form,
    .cart-collaterals {
        display: inline-block;
        margin: 0;
        padding: 0 1%;
        border: 0;
        width: 50%;
    }
}

@include mediaSm {
    .cart-container {

        .woocommerce-cart-form,
        .cart-collaterals {
            width: 100%;
        }
    }
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    width: 150px;
    text-align: center;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
    width: auto;
}

.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
    padding-top: 24px;
    border-top: 1px solid silver;
}

.woocommerce table.shop_table {
    padding: 20px 0;
    td {
        border: none;
    }
}

.cart-summary {
    border-bottom: 1px solid black;
}

.order-total {
    th, td {
        border-top: 3px solid black !important;
    }

    td {
        padding-top: 12px !important;
    }
}

.woocommerce table.shop_table td {
    padding: 24px 12px;
}
.woocommerce a.remove {
    font-size: 1.7em;
    height: 2em;
    width: 2em;
    line-height: 2;
    border-radius: none;
    color: black !important;
    font-weight: 100;

    &:hover {
        background: none;
        color: black !important; 
    }
}
thead {
    .table-header {
        th {
            border-bottom: 1px solid #979797;
        }
    }
}

#add_payment_method .cart-collaterals .cart_totals tr td, #add_payment_method .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-checkout .cart-collaterals .cart_totals tr td, .woocommerce-checkout .cart-collaterals .cart_totals tr th {
    border: none;
}

.woocommerce-cart-form,
.shop_table {
    thead,
    tbody {
        tr {
            padding: 20px 0;
            th {
                font-family: $header-font;
                letter-spacing: 1px;
            }
        }
    }
}


#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    padding: 0.5em;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #E07747;

    &:hover {
        background-color: darken(#E07747, 5);
    }
}

/*****************************************
*
*  Payment form page
*
*****************************************/

.col-1,
.col-2 {
    max-width: 100% !important;
}

.woocommerce-input-wrapper {
    width: 100%;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #E07747;
    color: #fff;
}

.woocommerce form .form-row .input-text,
.woocommerce-page form .form-row .input-text {
    resize: none;
}

.woocommerce-info {
    border-top-color: #E07747;

    &::before {
        color: #E07747;
    }
}


.woocommerce table.shop_table {
    border: none;
    tfoot {
        tr {
            th {
                font-family: $header-font;
            }
        }
    }
}

.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    border: none;
}

.woocommerce-billing-fields {
    h3 {
        border-bottom: 1px solid black;
    }
}

#order_review_heading {
    border-bottom: 1px solid black;
}

/*****************************************
*
*  Errors
*
*****************************************/


.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top-color: #E07747;
    font-size: 0.9em;
}

.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before {
    color: #E07747;
}

.woocommerce-error a.button,
.woocommerce-info a.button,
.woocommerce-message a.button {
    padding: 5px 20px;
    line-height: 1;
    height: auto;
}


// custom menu cart button
.cart-menu {
    a {
        position: relative;

        .count {
            @include font-size(10px);
            background: #E07747;
            border-radius: 16px;
            color: white;
            position: absolute;
            left: 4px;
            top: -3px;
            text-align: center;
            height: 14px;
            width: 16px;
            padding: 2px;
            line-height: 1;
        }

        img {
            position: absolute;
            top: -1px;
            left: -8.4px;
            width: 22px;
            height: auto;
            max-width: none;
        }
    }
}

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
    font-family: WooCommerce;
    content: '\e01c';
    vertical-align: top;
    font-weight: 300;
    position: absolute;
    top: .780em;
    right: 0.3em;
    @include animation(spin 2s linear infinite);
}