/*--------------------------------------------------------------
## WooCommerce CSS
--------------------------------------------------------------*/
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    border: 1px solid #dadada;
    border-radius: 2px;
    text-align: center;
}

.woocommerce ul.products li.product:hover,
.woocommerce-page ul.products li.product:hover {
    border-color: #FFC107
}

.woocommerce ul.products li.product a img {
    margin-bottom: 0;
}

.woocommerce ul.products li.product .total-product-title-wrap {
    padding: 20px 10px 0;
}

.woocommerce ul.products li.product a {
    color: inherit;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    font-family: $header-font;
    font-weight: 700;
    padding: 5% 0;
}

.woocommerce div.product div.images .flex-control-thumbs {
    margin: 5px -5px 0;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    padding: 5px;
}

.woocommerce ul.products li.product .price {
    font-family: $text-font;
    font-weight: 300;
    @include font-size(18px);
    color: $black;
    margin: 0;
}

.woocommerce ul.products li.product .price del {
    display: inline;
    color: $black;
    opacity: 1;
}

.woocommerce ul.products li.product .price ins {
    display: inline;
    font-weight: 400;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    padding: 10px 20px;
    font-family: $header-font;
    font-weight: 700;
    border-radius: 0;
    color: #FFF;
    background-color: #FFC107;
    border: 1px solid #FFC107;
    height: 40px;
    margin-bottom: -20px;
    line-height: 20px;
    font-size: 0.9em;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background: #333;
    border: 1px solid #333;
    color: #FFF;
}

.woocommerce ul.products li.product:hover .button {
    border-color: #FFC107;
    background-color: #FFC107;
    color: #FFF;
}

.woocommerce ul.products li.product .button.loading {
    opacity: 1;
}

.woocommerce a.added_to_cart {
    padding-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 25px;
    font-size: 13px;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    border-color: #FFC107;
    background-color: #FFC107;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background: #333;
    border-color: #333;
    color: #FFF;
}

.woocommerce nav.woocommerce-pagination ul {
    border: 0;
    margin: 0;
}

.woocommerce nav.woocommerce-pagination ul li {
    border: 0;
    margin: 0 4px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    display: block;
    background: #FFC107;
    color: #FFF;
    padding: 10px 15px;
    line-height: 1;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #333;
    color: #FFF;
}

.woocommerce span.onsale {
    min-height: 0;
    min-width: 0;
    padding: 0 15px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 0;
    background-color: #FFC107;
    color: #fff;
    font-size: 14px;
    margin: 10px 0 0 -6px;
    top: 0;
    left: 0;
}

.woocommerce span.onsale:after {
    border-color: transparent #e8ae00 #e8ae00 transparent;
    border-width: 3px;
    border-style: solid;
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0px;
}

.woocommerce ul.products li.product .onsale {
    margin: 10px -6px 0 0;
}

.woocommerce ul.products li.product .onsale:after {
    border-color: transparent transparent #e8ae00 #e8ae00;
    border-width: 3px;
    border-style: solid;
    right: 0px;
    left: auto;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: #FFC107
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
    font-weight: 400;
}

.woocommerce .product_meta {
    font-size: 15px;
}

.woocommerce .product_meta a {
    color: inherit;
}

.woocommerce .product_meta a:hover {
    color: #FFC107;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
    margin: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    display: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: 10px 0;
    font-weight: 400;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 0;
    background-color: #333;
    border-radius: 0;
    margin: 0;
    padding: 0 20px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: white;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #e4764f !important;
}

.woocommerce div.product .woocommerce-tabs .panel {
    background: white;
    padding: 50px;
}

.woocommerce #reviews #comments h2,
.woocommerce #reviews h3 {
    font-size: 22px;
    margin-bottom: 30px;
}

.woocommerce-Reviews .comment-form-author,
.woocommerce-Reviews .comment-form-email {
    width: 100%;
}

.woocommerce-Reviews .comment-form-author input,
.woocommerce-Reviews .comment-form-email input {
    width: 100%;
}

.related.products h2 {
    margin-bottom: 30px;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    background: #FFC107;
    padding: 10px 20px;
    color: #FFF;
}

.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover {
    background: #333;
    color: #FFF;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
    background: #FFC107;
    border-color: #FFC107;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    line-height: 40px;
    font-size: inherit;
    padding: 0;
}

.select2-container .select2-choice {
    border: 1px solid #EEE;
    font-size: 0.9em;
    color: inherit;
    border-radius: 0;
}

.select2-results {
    font-size: 0.9em;
    color: inherit;
}

.select2-drop-active {
    border-color: #EEE;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-color: #EEE;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top-color: #FFC107;
    font-size: 0.9em;
}

.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before {
    color: #FFC107;
}

.woocommerce-error a.button,
.woocommerce-info a.button,
.woocommerce-message a.button {
    padding: 5px 20px;
    line-height: 1;
    height: auto;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    font-weight: 400;
}

#customer_details {
    margin-bottom: 40px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: 1px solid #EEE;
    border-radius: 0;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    float: none;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
    padding-top: 4px;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
    font-weight: 400;
}

.woocommerce a.remove {
    font-family: $text-font;
    font-weight: 300;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
    top: 8px;
}

.woocommerce .widget_layered_nav ul li {
    padding: 5px 0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #FFF;
    border: 4px solid #FFC107;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #FFC107
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #EEE;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    height: 20px;
    width: 20px;
    top: -6px;
    margin-left: -10px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
    list-style: none;
}

.woocommerce-MyAccount-navigation-link a {
    background: #FFC107;
    color: #FFF;
    padding: 10px 20px;
    margin-bottom: 5px;
    display: block;
}

.woocommerce-MyAccount-navigation-link.is-active a,
.woocommerce-MyAccount-navigation-link a:hover {
    background: #333;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    text-align: center;
    width: 150px;
    @include font-size(14px);
}

.woocommerce-cart-form {
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.5) !important;
}

.woocommerce table.shop_table {
    border: none !important;
    padding: 40px !important;
}


#add_payment_method .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table {
    border-collapse: separate;
    margin: 0 0 6px;
    border: none !important;
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.5) !important;
    padding: 10% 5% !important;
}

.col-1,
.col-2 {
    max-width: 100% !important;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    background: white;
    border: 1px solid;
    border-radius: 0;
}

.woocommerce-checkout {
    background: white;
    padding: 5%;
    border: 1px solid;
}

.summary,
.entry-summary {
    padding: 10%;

    .price {
        font-family: $text-font;
        font-weight: 300;
        color: #333 !important;
    }

    .woocommerce-product-details__short-description {
        p {
            font-family: $text-font;
            line-height: 36px;
            font-weight: 300;
            line-height: 36px;
        }
    }
}


/*****************************************
*
*  Shop page product elements styling
*
*****************************************/

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    border: none;
    position: relative;
}

.woocommerce-loop-product__title {
    font-family: $header-font;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(200%);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 26px !important;
    opacity: 0;
    @include transition(all ease-in-out 0.5s);
}


.woocommerce ul.products li.product a img {
    @include transition(all ease-out 0.3s);
}

.woocommerce-Price-amount {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 18px !important;
    transform: translateY(800%);
    @include transition(all ease-in-out 0.5s);
}

.woocommerce ul.products li.product .button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    @include transition(all ease-out 0.3s);
    display: inline-block;
    background: transparent;
    border: 2px solid #BEAF8C;
    padding: 10px 15px;
    font-family: "Asul", sans-serif;
    font-weight: 700;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
}

.woocommerce ul.products li.product a {
    @include font-size(16px);
}

.woocommerce ul.products li.product:hover,
.woocommerce-page ul.products li.product:hover {
    .woocommerce-loop-product__title {
        opacity: 1;
    }

    .woocommerce-Price-amount {
        opacity: 1;
    }

    img {
        opacity: 0.3;
    }
    .button {
        opacity: 1;
    }
}

.woocommerce .woocommerce-ordering select {
    background: #f7f5f2 !important;
}


@include keyframes(slide-in-bottom) {
    0% {
        @include transform(translateY(0));
        opacity: 0;
    }

    100% {
        @include transform(translateY(-32px));
        opacity: 1;
    }
}