#primary,
.font-primary {
    background: #F6F3F1;
}

.landing-hero {
    width: 100%;
    height: 100vh;
    position: relative;

    .landing-content {
        width: 100%;
        height: 100%;

        .landing-text-content {
            margin-top: 10%;

            h1 {
                @include font-size(40px);
                text-transform: uppercase;
                padding-bottom: 16px;
                letter-spacing: 4px;
            }

            p {
                @include font-size(20px);
                padding-bottom: 16px;
            }
        }
    }
}

.front-section {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    padding: 5% 0;
}

@include mediaSm {
    .landing-hero {
        .landing-content {
            .landing-text-content {
                margin-top: 42%;
                padding: 0 8%;

                h1 {
                    @include font-size(28px);
                    padding-bottom: 5px;
                }
                p {
                    @include font-size(12px);
                    line-height: 2.5;
                }

                button {
                    a {
                        @include font-size(10px);
                    }
                }
            }
        }
    }

}